<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-title mode="ios">
      A Visiter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="customers.length">
    <ion-row class="blue">
      <ion-col size="1" class="cell heads">
        Nom
      </ion-col>
      <ion-col size="1" class="cell heads">
        Prénom
      </ion-col>
      <ion-col size="1" class="cell heads">
        CP
      </ion-col>
      <ion-col size="1" class="cell heads">
        Ville
      </ion-col>
      <ion-col size="2" class="cell heads">
        Tel
      </ion-col>
      <ion-col size="2" class="cell heads">
        Portable
      </ion-col>
      <ion-col size="2" class="cell heads">
        Bureau
      </ion-col>
      <ion-col size="2" class="cell heads">
        Divers
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let customer of customers; let i = index;" [ngClass]="i%2 ?  'blue' : 'white'"
      [routerLink]="['/detail/'+customer.id]">
      <ion-col size="1" class="cell">
        {{customer.name}}
      </ion-col>
      <ion-col size="1" class="cell">
        {{customer.firstname}}
      </ion-col>
      <ion-col size="1" class="cell">
        {{customer.cp}}
      </ion-col>
      <ion-col size="1" class="cell">
        {{customer.city}}
      </ion-col>
      <ion-col size="2" class="cell">
        {{customer.number}}
      </ion-col>
      <ion-col size="2" class="cell">
        {{customer.phone}}
      </ion-col>
      <ion-col size="2" class="cell">
        {{customer.office}}
      </ion-col>
      <ion-col size="2" class="cell">
        {{customer.other}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>