/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button {
    display: block;
    color: white;
    --border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

ion-input {
    .native-input {
        border: 1px solid #eeeeee !important;
        padding: 0 !important;
    }
}

.cell {
    text-align: center;
    border: 1px solid #2476b0;
}

.white {
    background-color: white;
}

.blue {
    background-color: #155f94;
    color: #ffff;
}

.heads {
    font-weight: bold;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.hov:hover {
    background-color: #e6f3ff;
}